@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    justify-content: center;
    background-color: whitesmoke;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(49, 169, 167);
    margin-bottom: 15px;
}

#main-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 10%;
    margin: 0 15px 0 15px;
}

#charts-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.charts {
    margin: 0;
    max-width: 600px;
}

#people-container {
    display: flex;
    max-width: 100%;
}

.people-chart-wrappers {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.people-charts {
    display: flex;
    max-width: 400px;
    max-height: 600px;
    margin: 10px;
}

@media (max-width: 900px) {
    #main-wrapper {
        display: flex;
        flex-direction: column;
    }
    #charts-wrapper {
        flex-direction: column;
        align-items: center;
        
    }
    #people-container {
        flex-direction: column;
        align-items: center;
    }
}